@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@*<MoviesList Movies="movies" />*@

<input type="number" @bind="currentCount" />

@code { 
    
    private List<Movie> movies { get; set; }
    
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        movies = new List<Movie>()
        {
            new Movie(){Title = "Joker", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Avengers", ReleaseDate = new DateTime(2016, 11, 23)},
        };
    }

    private void IncrementCount()
    {
        currentCount++;
    } 

}
